*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speech-box{
    padding: 2rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.speech-box:hover{
    border: 2px solid #7d08d7;
    color: #7d08d7;
}
.speech-box ,textarea{
    color:  white;
    background-color: #6dd93f;
}

.speech-box h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    

}

textarea{
    resize: none;
    border: none;
    outline: none;
    padding: 2rem 0;
    color: #7d08d7;
    text-align: left;
    font-size: 1.1rem;
}

textarea::placeholder{
    color: #7d08d7;
}

#speech{
    width: 10rem;
    padding: .8rem;
    margin: 0 auto;
    cursor: pointer;
    color:  #6dd93f;
    font-size: 1.2rem;
    border-radius: 15rem;
    display: inline-block;
    transition: all .3s linear;
    border: 2px solid  #6dd93f;

}

#speech:hover{
    color: #7d08d7;
    border-color: #7d08d7;
    background-color: #6dd93f;
}


